.splash_1 {
	text-align: center;
	font-size: 40px;
	color: #A59685;
	font-family: "Courier New", Courier, mono;
	font-weight: bold;
	line-height: 8px;
	letter-spacing: 2px;
	height: 80px;
	width: 100%;
	left: 0px;
	top: 412px;
	position: absolute;
}
.splash_2 {
	position: absolute;
	text-align: center;
	font-size: 40px;
	color: #FFFFFF;
	font-family: "Courier New", Courier, mono;
	font-weight: bold;
	line-height: 8px;
	letter-spacing: 2px;
	width: 100%;
	left: 0px;
	top: 410px;
	height: 80px;
}
.menu {
	position: absolute;
	text-align: center;
	width: 100%;
	left: 0px;
	top: 414px;
	height: 80px;
}
.splash_3 {
	width: 480px;
	background:no-inherit;
	margin-top: 10px;
	border: none;
}
.damn {
	font-size: 28px;
	line-height: 55px;
}
.space2 {
	letter-spacing: -3px;
}
.login {
	width: 86px;
	height: 14px;
	background: #DBD0BF;
	border: 1px solid #9A8978;
	line-height: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5F4D3A;
	margin-bottom: 1px;
	margin-top: 0px;
}
.enter {
	font-size: 11px;
	border-top: 1px solid #F4EFE9;
	border-right: 1px solid #9A8978;
	border-bottom: 1px solid #9A8978;
	border-left: 1px solid #F4EFE9;
	background: #DBD0BF;
	color: #62584A;
	width: 90px;
	height: 16px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 10px;
	margin-top: 2px;
}
a {
	font-size: 13px;
	color: #62584A;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	background: #DBD0BF;
	display: block;
	width: 100px;
	padding-left: 5px;
	line-height: 18px;
	padding-bottom: 1px;
}
a:hover {
	background: #F4EFE9;
}