.txt {
    font-size: 8pt; 
    color: #000000; 
    font-family: verdana,geneva,arial cyr;
}

a {
    font-size: 9pt; 
    color: #000000;
    font-family: verdana,geneva,arial cyr;}

td {
    font-size: 10pt; 
    color: #000000; 
    font-family: verdana,geneva,arial cyr;}



